.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.section {
  position: absolute;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sectionOne {
  left: 0;
  background-color: red;
}

.sectionTwo {
  left: 50%;
  background-color: #f0f0f0;
}
