@use "../../styles/breakpoints.scss";

.container {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

.section {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sectionOne {
  position: absolute;
  top: 0;
}

.sectionTwo {
  position: absolute;
  background-color: #f0f0f0;
  top: 50%;
}

@include breakpoints.sm {
  .container {
    flex-direction: row;
  }
  .section {
    width: 50%;
    height: 100%;
  }
  .sectionOne {
    left: 0;
    top: 0;
  }
  .sectionTwo {
    left: 50%;
    top: 0;
  }
}
