@use "../../styles/breakpoints.scss";

.left {
  color: #222;
  display: flex;
  flex-direction: column;
  .title {
    font-weight: bold;
    font-size: 6rem;
    text-shadow: 4px 4px #ffa19e;
    text-align: center;
  }
  .alignRight {
    text-align: right;
    margin-left: auto;
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  color: #738b99;
  font-size: 1rem;
  font-style: italic;
  text-shadow: 1px 1px #ddd;
}

@include breakpoints.sm {
  .left {
    .title {
      font-size: 6rem;
    }
  }
}

@include breakpoints.lg {
  .left {
    .title {
      font-size: 8rem;
    }
  }
}
