.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background: #fff;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    .left {
    }
    .right {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      gap: 0.5rem;
    }
  }
}

.title {
  margin: 0 0 0.5rem 0;
}

.description {
  margin: 0 0 1rem 0;
  color: #555;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background: #cb98d688;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  color: #333;
}
